#wrap {
    width: 1000px;
    margin: auto;
}

.cat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cat-list li {
    margin-bottom: 5px;
}

.cat-title {
    display: inline-block;
    width: 120px;
    font-family: monospace;
    color: gray;
}

#short {
    margin-left: 5px;
}

.links_stat {
    float: left;
    margin-right: 30px;
    font-family: Arial;
    font-size: 15px;
}

.links_stat a {
    font-family: monospace;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: rgb(72, 72, 255);
    padding: 2px 6px;
}

.last_click {
    font-size: 10px;
    float: right;
    margin-left: 30px;
    margin-top: 4px;
    color: dimgrey;
}

.count {
    color: rgb(33, 158, 73);
    font-weight: bold;
}

.links_stat a:hover {
    background: rgb(0, 26, 107);
}

.links_stat li {
    margin-bottom: 7px;
    list-style: none;
}

.links_stat ol {
    margin: 0;
    padding: 0;
}

.links_stat h3 {
    margin: 15px 0px 10px 0px;
    color: rgb(46, 128, 255);
}

#urlbox {
    width: 350px;
}

h1 {
    font-family: Monospace;
    color: rgb(123, 123, 255);
}