@import url(http://fonts.googleapis.com/css?family=Poiret+One|Roboto+Condensed&subset=latin,cyrillic);
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #00d881;
  background: #002616;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}
#filebox {
  display: none;
}
#top-nav {
  z-index: 10;
  width: 100%;
  height: 70px;
  background: #000000;
  border-bottom: 1px solid #007244;
  padding: 15px 20px;
}
#top-nav #title {
  text-shadow: 0 0 2px #005935;
  margin: 0px;
}
#top-nav .beta {
  width: 65px;
  margin-left: -13px;
  color: #00c3d8;
  text-shadow: 0 0 4px #00c3d8;
  font-size: 60%;
  padding: 2px 7px;
  text-decoration: underline;
}
#top-nav .beer {
  position: relative;
  top: -30px;
  background: #d8c900;
  width: 100px;
  color: black;
  text-shadow: none;
  border-radius: 4px;
  float: right;
}
#top-nav .beer:hover {
  background: #a59a00;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label span {
  width: 100%;
  font-weight: normal;
  border: none;
  padding: 4px 10px;
  margin-right: 5px;
  border-radius: 5px;
  color: #000000;
  background: #00a563;
  cursor: pointer;
  box-shadow: 2px 2px 0px 1px #000c07;
}
input[type="checkbox"] + label span:hover {
  background: #007244;
  color: #72ffc6;
}
input[type="checkbox"]:checked + label span {
  position: relative;
  background: #005935;
  color: #72ffc6;
  box-shadow: none;
  top: 2px;
  left: 2px;
  box-shadow: inset 0px 2px 3px #000c07;
  text-shadow: 0px 0px 5px #00d881;
}
button {
  width: 100%;
  text-align: center;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  color: #000000;
  background: #00a563;
  cursor: pointer;
  box-shadow: 2px 2px 0px 1px #000c07;
}
button:focus {
  outline: 0;
  box-shadow: 2px 2px 0px 1px #000c07;
  text-shadow: 0px 0px 10px #00d881;
  text-decoration: underline;
}
button:hover {
  background: #007244;
  color: #72ffc6;
}
button:active {
  position: relative;
  background: #005935;
  color: #72ffc6;
  box-shadow: none;
  top: 2px;
  left: 2px;
}
.upload-progress {
  background: #005935;
  margin: 30px 20px 20px 20px;
  height: 30px;
  overflow: hidden;
  border-radius: 5px;
}
.upload-progress .upload-bar {
  background: #00d881;
  height: 100%;
  line-height: 30px;
}
.upload-progress .upload-progress-title {
  color: #000000;
}
#content {
  max-width: 1400px;
  margin: auto;
  margin-top: 70px;
  padding: 20px;
}
#content .row-header {
  color: #00a563;
  border-bottom: 1px solid;
  margin: 10px 0px 10px 0px;
}
#content .file-description {
  text-align: center;
  color: #007244;
  margin-bottom: 20px;
}
#content #drop-area {
  height: 100px;
  border: 5px dashed #00d881;
  color: #00d881;
  font-size: 120%;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}
#content #drop-area:hover {
  border-color: #003f26;
  background: #007244;
  color: #000c07;
}
#content #drop-area .drop-message {
  line-height: 90px;
}
#content .generated-details {
  list-style: none;
  padding: 0;
}
#content .generated-details .qr-button {
  width: 80px;
  margin-top: 10px;
}
#content .generated-details .value {
  color: #00d8c9;
  font-weight: bold;
}
#content .generated-details ul {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
  background: #001b10;
  padding: 20px;
}
#content .links ul {
  padding: 0;
}
#content .links li {
  list-style: none;
  color: #00a563;
  font-size: 90%;
  margin-bottom: 10px;
}
#content .links li:nth-child(odd) {
  background: #003f26;
}
#content .links li.url a {
  background: #00c3d8;
}
#content .links li.file a {
  background: #00d85d;
}
#content .links li.zip a {
  background: #d88100;
}
#content .links li a {
  font-family: monospace;
  font-size: 100%;
  border-radius: 3px;
  background: #00d881;
  padding: 4px;
  color: #000c07;
}
#content .links li .count {
  color: #007244;
  font-weight: bold;
}
#content .links li .last-click {
  font-size: 10px;
  float: right;
  margin-right: 10px;
  line-height: 22px;
  color: #00a563;
}
#content #urlbox {
  width: 100%;
  padding: 4px 7px;
  color: #00d881;
  border: 1px solid #00d881;
  background: #000c07;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 4px;
}
#content #urlbox::-webkit-input-placeholder {
  color: #00d881;
  text-align: center;
}
#content #urlbox:-moz-placeholder {
  color: #00d881;
  text-align: center;
}
#content #urlbox::-moz-placeholder {
  color: #00d881;
  text-align: center;
}
#content #urlbox:-ms-input-placeholder {
  color: #00d881;
  text-align: center;
}
#content #urlbox:focus {
  outline: 0;
  box-shadow: 0 0 6px #00d881;
}
#content #urlbox:focus::-webkit-input-placeholder {
  color: transparent;
}
#content #urlbox:focus:-moz-placeholder {
  color: transparent;
}
#content #urlbox:focus::-moz-placeholder {
  color: transparent;
}
#content #urlbox:focus:-ms-input-placeholder {
  color: transparent;
}
